:root {
    /* background color */
    --primary-color: rgba(0, 0, 0, .82);
    --secondary-color: rgb(127, 112, 80);
    --link-color:rgba(200, 200, 290, .6);
} 

.navbar {
    background: white;
}

.footer {
    position: fixed;
    top: 140px;
    right: var(--footerOffset);
    transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
}

.year {
    position: relative;
    left: -20px;
}

.type {
    position: relative;
    left: -10px;
}

.blueish {
    background: var(--primary-color) !important;
    font-size: 14px;
    color: white;
    padding-top: 3%;
    padding-bottom: 10%;
}

#navBot a:hover, #navTop a:hover {
    color: var(--primary-color);
}

#about a, #publications a, #cv a {
    color: var(--link-color);
    text-decoration: none;
}

#about a:hover, #publications a:hover, #cv a:hovers{
    color: var(--secondary-color);
}

#about i {
    font-size: 25px !important;
    color: var(--secondary-color);
}

#projects img {
    width: 80%;
}

#publications hr {
    width: calc(100% + 20px);
    margin:3 auto;
}

#research {
    text-align: center;
}
#research img {
    width: 50%;
}

h1, h2, h3, h4, h5, h6 {
  margin: .5em 0 .3em 0;
  line-height: 1em;
}

p {
    color: var(--primary-color);
}

h1 {
    font-size: 2.2em;
}
h2 {
    font-size: 1.9em;
}
h3 {
    font-size: 1.4em;
}
h4 {
    font-size: 1em;
}
h5 {
    font-size: 1.6em;
    color: var(--primary-color);
}
h6 {
    font-size: 0.75em;
}
